<h3 class="display-4">Cart</h3>

<div class="cart-item" *ngFor="let item of items">
 <span>{{ item.name }} </span>
 <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutform" (ngSubmit)="onSubmit(checkoutform.value)">

    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
   
    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address">
    </div>
   
    <button class="btn btn-lg border border-dark" type="submit">Purchase</button>
   
   </form>
