<div class="container marketing">

    <h3 class="display-4">Our Services</h3>

    <div class="row mt-5">

        <div class="col-lg-4">

            <img class="rounded" src="assets/img/adventure.jpg"
                width="320" height="240">

            <h2>Adventure Trips</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>


        </div>

        <div class="col-lg-4">

            <img class="rounded"
                src="assets/img/business.jpg"
                alt="Generic placeholder image" width="320" height="240">

            <h2>Business Trips</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>



        <div class="col-lg-4">

            <img class="rounded" src="assets/img/family.jpg"
                alt="Generic placeholder image" width="320" height="240">

            <h2>Family Trips</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        </div>


    </div>
    <div class="row mt-5">

        <div class="col-lg-4">

            <img class="rounded" src="assets/img/sports1.jpg"
                width="320" height="240">

            <h2>Sports and Activities Tours</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum.
            </p>
        </div>

        <div class="col-lg-4">

            <img class="rounded"
                src="assets/img/honeymoon.jpg"
                alt="Generic placeholder image" width="320" height="240">

            <h2>Honey-Moon Tours</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>


        <div class="col-lg-4">

            <img class="rounded" src="assets/img/culture.jpg"
                alt="Generic placeholder image" width="320" height="240">

            <h2>Culture Tours</h2>

            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>


    </div>


</div>